* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, form {
  font-family: 'Lucida Console', monospace;
  font-size:16px;
  background-color: #21252B;
}

table{
  clear:both;
}

main{
  width:70%;
}

h2{
  color: #f0f0f0;
}

h3{
  color: #777;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #777;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
}
/* Sidebar */
  #toggleSidebar {
    position: absolute;
    margin: 0 0 40px 0;
    top: 10px;
    left: 140px;
    z-index: 1000;
    font-size: 11px;
  }

    #toggleSidebar button{
      font-size:11px;
    }

  #sidebar {
    clear:both;
    width: 250px;
    padding: 30px 10px 0 10px;
    height: 100vh;
    transition: transform 0.3s ease;
    background-color: #111;
  }

  #sidebar.closed {
    transform: translateX(-110%);
  }

#notesContainer {
    list-style-type: none;
    list-style: none;
    padding: 0;
}

#note-list li {
    margin: 5px 0;
    cursor: pointer;
}

.note-item{
  font-size:10px;
  text-transform: uppercase;
  color: #ccc;
  padding-bottom:10px;
  line-height: 16px;
}

.note-item a{
    color: #f0f0f0;
    font-family: 'Tahoma', sans-serif;
    text-decoration: none;
}

  .note-item a:hover{
    color: #fff;
  }

.note-title{
  text-transform: none;
  font-size: 16px;
  letter-spacing:1px;
  font-weight: normal;
}

#formelements{
  padding:0 0 0 10px;
  width: 90%;
}

#noteTitle, #noteCategory, #noteStatus, #noteTags{
  font-size:16px;
  margin-bottom:10px;
  width:20%;
  background-color: #111;
  color:#888;
  font-family: Tahoma;
  padding: 10px 8px;
  border:none;
}

#noteContent {
  width: 90%;
  height: 500px;
  padding: 10px;
  font-size: 16px;
  background-color: #111;
  font-family: Tahoma;
  color:#888;
  clear:both;
  float:left;
  border:none;
}

input::placeholder, textarea::placeholder{
  color: #555;
}

#noteContent:focus {
    outline: none;
}

.tag {
  margin-left:5px;
}

button {
    padding: 5px 10px;
    margin: 10px 10px;
    background-color: #111;
    border:none;
    color:#999;
    cursor: pointer;
    float:left;
    font-size: 16px;
    font-family: monospace;
}

#newNoteButton{
  font-size:11px;
  position: absolute;
  left:0;
  background-color: #333;
  color: #999;
}

button:hover{
  background-color: #21252B;
}

footer{
  position: fixed;
  bottom: 0;
  color: #777;
  font-size:11px;
  background-color: #21252B;
}
